body {
    background-size: cover;
    background: url('/Images/railroad.jpg') no-repeat center center fixed;
    color:white;
    margin-top: 2%;
}

#Titletxt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    
    border: 10px solid red;
    border-radius: 5px;
    
    
}
#Logout {
    position: absolute;
    margin-left: 85%;
    width: 10%;
    margin-top: -6%;
    border-style: dashed;
    border-color: white;
}


#Ideatxt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid red;
    border-radius: 5px;

    
}


#Employeetxt {
    display: block;
    border: 10px solid red;
    border-radius: 5px;
    
}

#btnIdea {
   
    display: block;
    margin-left: auto;
    margin-right: 27%;
    margin-top:1%;
}

#Title {
    margin-left: 21%;
    padding-top:7%;
    font-size: larger;
    font-weight: bold;
    

}

#Idea {
    margin-left: 19%;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 7%;
    margin-bottom: 20%;
}

#ImageButton1 {
    display: block;
    padding-top: 1%;
    margin: 0 auto;
    width: 250px;
}