body {
    background:url('/Images/railroad.jpg') no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;
}

.buttons {
    padding-top: 3%;
    background-color: #b32018;
    margin: 0 auto;
    padding-bottom: 3%;
    margin: 3%;
    border-style: dashed;
    border-radius: 20px;
    border-color: white;
}

.space {
    margin-top: 3%;
    padding-bottom:1%;
}

#BtnMakeNewIdea {
    padding-bottom: 1%;
    margin: 0 auto;
    margin-top: 3%;
    width: 30%;
}

#BtnTrendingIdeas {
    padding-bottom: 1%;
    margin: 0 auto;
    margin-top: 3%;
    width: 30%;
    white-space: normal !important;
    word-wrap: break-word;
}

#BtnMyAccount {
    
    padding-bottom: 1%;
    margin: 0 auto;
    margin-top:3%;
    width:30%;
}

#ImageButton1 {
    display: block;
    padding-top: 1%;
    margin: 0 auto;
    width: 55em;
    height: 11em;
}

#Logout {
    margin-left: 87%;
    width: 9em;
    border-style: dashed;
    border-color: white;
    margin-top:-14%;
    margin-right:auto;
    position:inherit;

  
}

.col-lg-12 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1%;

}

.row {
    margin-top: 1%;
    background-color: #b32018;
    border-style: dashed;
    border-radius: 20px;
    border-color: white;
    padding-bottom: 3%;
    text-align: center;
    
}