body {
    background-size: cover;
    background: url('/Images/railroad.jpg') no-repeat center center fixed;
}


#GridView1 {
    display: block;
    margin-top: 2%;
    border: 5px solid red;
    border-radius: 5px;
    font-size: 32px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    position: fixed;
    top: -1px;
    padding-bottom: 100px;
    background-color: orangered;
    
}

#RatingResponse {
    font-size: 100px;
}


#ImageButton1 {
    display: block;
    padding-top: 1%;
    margin: 0 auto;
    width: 250px;
}

.head img {
    display: block;
    padding-top: 1%;
    margin: 0 auto;
    width: 250px;
}



